.checkout {
	display: flex;
	margin-top: 30px;
	width: 50%;
	padding: 20px;
	background-color: rgb(79, 97, 184);
	font-family: Helvetica;
	color: white;
	height: max-content;
	justify-content: space-between;
	flex-direction: column

}

.checkout__title {
	font-size: 36px;
	margin-right: 10px;
	padding: 10px;
	border-bottom: 2px solid rgb(0, 0, 0);

	
}