.container {
	display: flex;
	max-height: max-content;
	width: max-content;
	 flex-direction: column;
	align-items: bottom;
	justify-content: center; 
	background-color: rgb(79, 97, 184);
	 }
  
  .loginBox {
	background-color: rgb(79, 97, 184);
	margin-top: 40px;
	height: 500px;
	width: 500px;
	background-color: rgb(79, 97, 184);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .emailInput, .passInput {
	margin-top: 100px;
	width: 350px;
	padding: 15px;
	border-radius: 15px;
	border: 1px solid rgb(79, 97, 184);
	
  }
  
  .passInput {
	margin-top: 20px;
  }
  
  .loginPageBtn {
	padding: 10px;
	background-color: #dd931c;
	border-radius: 10px;
	margin-top: 10px;
  }
 .LoginLogo{
	display: flex;
	width: 200px;
	object-fit: contain;
	/* margin: 0 20px; */
	margin-top: 35px;
 } 
